<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %} {% block head %} {% endblock %}
    <title>FinTrack</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="manifest" href="{% static 'finance_tracker_app/js/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'finance_tracker_app/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'finance_tracker_app/main.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    {% if messages %}
      <ul id="django-messages" class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 bg-white shadow-lg rounded-lg px-6 py-3 mb-4">
        {% for message in messages %}
          <li class="text-green-600 font-semibold">{{ message }}</li>
        {% endfor %}
      </ul>
      <script>
        setTimeout(function() {
          var msg = document.getElementById('django-messages');
          if (msg) { msg.style.display = 'none'; }
        }, 3000);
      </script>
    {% endif %}

    {% if user.is_authenticated %}
    {% include 'finance_tracker_app/partials/navbar.html' %} 
    {% else %}
    {% include 'finance_tracker_app/partials/guest_navbar.html' %}
    {% endif %}

    {% block content %}
    {% endblock %}
    
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register("{% static 'finance_tracker_app/js/serviceworker.js' %}")
            .then(function(registration) {
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              console.log('ServiceWorker registration failed: ', err);
            });
        });
      }
    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
