<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %} {% block head %} {% endblock %}
    <title>FinTrack</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="{% static 'finance_tracker_app/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'finance_tracker_app/main.css' %}" />
  </head>
  <body>
    {% if user.is_authenticated %}
    {% include 'finance_tracker_app/partials/navbar.html' %} 
    {% else %}
    {% include 'finance_tracker_app/partials/guest_navbar.html' %}
    {% endif %}

    {% block content %}
    {% endblock %}

  </body>
</html>
